@{
    ViewData["Title"] = "Success";
}

    <div class="text-center">
        <h1 class="display-4">Successfully registered</h1>
        <a asp-controller="home" asp-action="Index">Home</a>

        <img class="img-fluid" src="/images/bg-masthead.jpg" alt="" />
    </div>